html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    border: 8px solid black;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    flex-basis: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(50px, 100px));
    gap: 10px;
}

header div {
    width: 100%;
    height: 100%;
}

.headerItem1 > h1 {
    text-transform: uppercase;
    font-weight: 900;
}

span {
    text-transform:uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.headerItem2 > div {
    background-color: yellow;
    border: solid black;
    border-width: 2px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}

.headerItem2 > div a {
    margin: 15px;
    padding: 5px;
    color: black;
    background-color: rgb(255, 238, 0);
    flex-basis: 200px;
}

.headerItem2 > div a > h3 {
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.headerItem3 > h2 {
    margin: 10px;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline double;
}

.listContainer {
    width: 70%;
    margin: 10px 0;
    padding: 10px 0;
    text-align: start;
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.list {
    margin: 0 10px;
    padding: 0 15px;
}

.list a > h3 {
    color: black;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}

main button {
    margin: 10px;
   
}

main button > a {
    margin: 10px;
    color: rgb(141, 0, 0);
    font-weight: 600;
}

main button > a > span {
    color: rgb(155, 0, 0);
    font-size: 1rem;
    font-weight: 900;
}

footer {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 15px 0;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
    border-top: 3px solid black;
}
footer h4 {
    margin: 10px;
    padding: 10px;
    flex-basis: 500px;
    width: 100%;
}

footer div {
    margin: 10px;
    padding: 10px;
    flex-basis: 500px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

footer div > a {
    margin: 10px;
    padding: 5px 10px;
    background-color: rgb(226, 213, 25);
}

.backButton {
    margin: 10px;
    padding: 5px 20px;
    width: 100%;
    height: 100%;
}

/* EFFECTS */
.btnHover:hover {
    border: solid rgb(37, 0, 0);
       border-width: 0px 3px 4px 0px;
    background-color: rgb(236, 236, 2);
}

.btnHover:active {
    border: solid rgb(37, 0, 0);
       border-width: 0px 3px 4px 0px;
    background-color: rgba(255, 0, 0, 0.493);
}

/* Responsive */

@media (max-width:620px) {
    header {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .headerItem2 > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: rgba(255, 255, 255, 0);
    }

    .headerItem2 > div a {
        margin: 5px 15px;
        flex-basis: 100%;
        width: 50%;
    }
}
